<mat-toolbar>
  <span routerLink="/home">True Review</span>
  <span class="example-spacer"></span>

  <button mat-button *ngIf="!isAuthenticated" (click)="navigateToPage('login')">
    Login
  </button>
  <button
    mat-button
    *ngIf="!isAuthenticated"
    (click)="navigateToPage('register')"
  >
    Register
  </button>
  <button
    *ngIf="isAuthenticated && role === 'seller'"
    mat-stroked-button
    color="primary"
    (click)="goToMyShop()"
  >
    My Shop
  </button>
  <mat-card-header *ngIf="isAuthenticated">
    Welcome, {{ username }}</mat-card-header
  >
  <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
</mat-toolbar>
