html {
  scroll-behavior: smooth;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.bg-black {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.bg-primary-orange {
  background-color: #fec503;
}
.primary-orange {
  color: #fec503;
}
.org-btn {
  border: 1px solid #fec503;
  color: #fec503;
}
.org-btn:hover {
  background-color: #fec503;
  color: white;
}

.light-grey {
  color: #6c757d;
}

.bg-light-grey {
  background-color: #6c757d;
}

/* img css */

/* .testimonals-container img{
  width:300px;
  
} */

/* hero */
.center {
  text-align: center;
}

/*  Card hover */
.move-up:hover {
  background-color: #fec503;
  color: white;
  transition: all 0.5s;
  transform: translateY(-10px);
}

.ng-mrg-t {
  margin-top: -50px;
}

/* Footer code */
.foot {
  /*   position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1a1d20;
  color: white;
  text-align: center;
  top: 75px;
}

a {
  color: #6c757d;
}
a:hover {
  color: #fec503;
  text-decoration: none;
}

::selection {
  background: #fec503;
  text-shadow: none;
}
.footer-column {
  text-align: center;
}
.nav-link {
  padding: 0.1rem 0;
}
span.nav-link {
  color: #6c757d;
}
span.nav-link:hover {
  color: #fec503;
}
span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.fas {
  margin-right: 0.5rem;
}

footer {
  padding: 2rem 0;
  background-color: #212529;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  transform: scale(1.02);
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 80px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  outline: 0;

  img {
    height: 80px;
    width: 80px;
  }
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

.img-main {
  margin: 4rem 0 0 4rem;
}
.img-fluid {
  filter: drop-shadow(0px 30px 6px black);
}

.rating li:hover ~ li::before {
  display: none;
}

.btn-class {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 2.5rem;
  font-weight: 900;
  border: 0;
  height: 4rem;
  min-width: 5rem;
  font-size: 1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  background: linear-gradient(149deg, #b93108 0%, #ff4d0d 72.88%);
  color: whitesmoke;
  letter-spacing: 0.08rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  box-shadow: 15.8975px 26.4579px 61.7333px rgba(49, 13, 2, 0.3835),
    inset -6.39433px -10.642px 12.4153px #aa2d08,
    inset 6.39433px 10.642px 12.4153px #ff510e;
  font-family: monospace;
}

.card-container {
  margin-top: 0;
}

.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%, -50%);
}
