.card {
  margin: 10px;
}
.card-img-overlay {
  background-color: rgba(#000, 0.5);
}

.card-img-overay-hover {
  background-color: rgba(#000, 0.7);
}

.card-title {
  font-weight: bold;
}

.card-img {
  width: 100%;
  object-fit: cover;
  /* Add the following property to control the aspect ratio */
  aspect-ratio: 16/9;
}

.visit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  font-size: 16px;
  letter-spacing: 2px;
}

.hidden {
  display: none;
}
.skeleton-card {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid black;
  margin: 10px;
}

.skeleton-effect {
  width: 100%;
  object-fit: cover;
  /* Add the following property to control the aspect ratio */
  aspect-ratio: 16/9;
}

.skeleton-effect img {
  display: flex;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.loading .skeleton-effect {
  background-color: gray;
  background: linear-gradient(
      147deg,
      rgba(124, 120, 120, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(129, 125, 125, 0) 60%
    )
    gray;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loadingkey ease-in-out infinite;
}

@keyframes loadingkey {
  to {
    background-position-x: -20%;
  }
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
