<div class="container h-100">
  <div class="row align-middle justify-content-between">
    <div class="col-md-6 col-lg-4 column" (click)="selectedCategory('Food')">
      <div class="card gr-1">
        <div class="ico-card ico-food">
          <img src="../../../assets/burger.png" alt="" />
        </div>
        <div class="txt">
          <h1>Food</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column" (click)="selectedCategory('Shoes')">
      <div class="card gr-2">
        <div class="ico-card ico-shoe">
          <img src="../../../assets/Shoe.png" alt="" />
        </div>
        <div class="txt">
          <h1>Shoes</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column" (click)="selectedCategory('Sports')">
      <div class="card gr-3">
        <div class="ico-card-ball ico-card">
          <img src="../../../assets/ball.png" alt="" />
        </div>
        <div class="txt">
          <h1>Sports</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column" (click)="selectedCategory('Camera')">
      <div class="card gr-4">
        <div class="ico-card-cam ico-card">
          <img src="../../../assets/camera.png" />
        </div>
        <div class="txt">
          <h1>Camera</h1>
        </div>
        <a href="#">more</a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column" (click)="selectedCategory('Phones')">
      <div class="card gr-7">
        <div class="ico-card-phone ico-card">
          <img src="../../../assets/phone.png" alt="" />
        </div>
        <div class="txt">
          <h1>Phones</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column" (click)="selectedCategory('Clothes')">
      <div class="card gr-6">
        <div class="txt">
          <h1>Clothes</h1>
        </div>

        <div class="ico-card ico-clothes">
          <img src="../../../assets/fashion.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
