@use "@angular/material" as mat;
@include mat.core();

$TrueReview-primary: mat.define-palette(mat.$blue-palette, 900);
$TrueReview-accent: mat.define-palette(mat.$blue-gray-palette, 800);

// The warn palette is optional (defaults to red).
$TrueReview-warn: mat.define-palette(mat.$red-palette, 800);

$TrueReview-theme: mat.define-light-theme(
  (
    color: (
      primary: $TrueReview-primary,
      accent: $TrueReview-accent,
      warn: $TrueReview-warn,
    ),
  )
);

@include mat.all-component-themes($TrueReview-theme);

/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,600;1,700;1,800;1,900&display=swap");
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
// @import "~ngx-bar-rating/themes/br-default-theme";
// @import "~ngx-bar-rating/themes/br-horizontal-theme";
html,
body {
  height: 100%;
  font-family: "Prompt", sans-serif !important;
}
body::-webkit-scrollbar {
  display: none;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.dropzone {
  height: 100px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 2px #aaa;
}

input[type="file"] {
  display: none;
}

.textLink {
  background-color: #002b5c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textLink::before {
  content: "\f093";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: large;
  margin-right: 10px;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.fileItem {
  width: calc(25% - 6px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 10px;
  display: block;
  position: relative;
  float: left;
  border: 2px dashed #778899;
  border-radius: 5px;
  transition: 0.3s ease;
}
.fileItem:hover {
  border: 2px solid #c33838;
  background-color: #c33838bf;
}
.fileItem:hover .fileItemIcon::before {
  content: "\f00d";
  color: whitesmoke;
}
.fileItem:hover .fileItemText {
  color: whitesmoke;
}
.fileItemIconDiv {
  text-align: center;
  align-items: center;
}
.fileItemIcon::before {
  font-style: normal;
  content: "\f15b";
  color: #778899;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.fileItemText {
  text-align: center;
  margin-top: 10px;
  height: 40px;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-supporting-text-color: #ffffff;

  &.error {
    margin-top: 50px;
    --mdc-snackbar-container-color: #f23a2f;
  }

  &.success {
    margin-top: 50px;
    --mdc-snackbar-container-color: rgb(65, 252, 134) !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: #ffffff !important;
  }
}
