@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

mat-card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333333;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-error {
  color: #f44336;
  font-size: 14px;
  margin-top: 4px;
}

button {
  width: 100%;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.login-form {
  background-size: cover;
  background-image: url("../../../../assets/abstract-formed-by-color-dissolving-water\ \(2\).jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  background-blend-mode: multiply;
  background-color: #9cd1ff;
  height: 100%;
}
.login-page {
  height: 100%;
  background-size: cover;
  background-image: url("../../../../assets/newbackround.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left;
}

.login-card {
  max-width: 100%;

  padding: 5%;
  background: rgba(255, 255, 255, 0.5);

  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.welcome-text {
  display: grid;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  place-items: center;
}

.welcome-text p {
  grid-area: 1/1/-1/-1;
}
.welcome-text p:nth-of-type(1) {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.welcome-text p:nth-of-type(2) {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, #fff 53%, white 65%);
  background: linear-gradient(177deg, #fff 53%, white 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
