.register-card {
  background: rgba(255, 255, 255, 0.2);
  min-height: 100vh;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.25);
  padding: 5%;
}

.register-form {
  background-size: cover;
  background-image: url("../../../../assets/abstract-formed-by-color-dissolving-water\ \(2\).jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  background-blend-mode: multiply;
  background-color: #9cd1ff;
  height: 100%;
  max-width: 90%;
}

.register-page {
  min-height: 100vh;
  background-size: cover;
  background-image: url(../../../../assets/registerbackground.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #9cd1ff;
}

mat-card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #002b5c;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-error {
  color: #f44336;
  font-size: 14px;
  margin-top: 4px;
}

button {
  width: 100%;
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1976d2;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

//File Upload
.uploadButton,
.uploadButton:hover {
  --width: 150px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 1em;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  background: #002b5c;
  transition: all 0.2s;
  border-radius: 3px;
}

.uploading {
  background-image: linear-gradient(
    to right,
    #fa5252,
    #fa5252 16.65%,
    #be4bdb 16.65%,
    #be4bdb 33.3%,
    #4c6ef5 33.3%,
    #4c6ef5 49.95%,
    #40c057 49.95%,
    #40c057 66.6%,
    #fab005 66.6%,
    #fab005 83.25%,
    #fd7e14 83.25%,
    #fd7e14 100%,
    #fa5252 100%
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}

.img-upload-success {
  background-color: rgb(133 228 133);
  height: 50px;
  border: 2px solid #036303;
  border-radius: 10px;
}

.welcome-text {
  display: grid;
  font-size: 8vw;
  font-family: Oswald;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  place-items: center;
  margin-top: 30%;
}

.welcome-text p {
  grid-area: 1/1/-1/-1;
}

.welcome-text p:nth-of-type(1) {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.welcome-text p:nth-of-type(2) {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, #fff 53%, white 65%);
  background: linear-gradient(177deg, #fff 53%, white 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
